{% extends 'admin/base.html.twig' %}

{% block title %}Forgot Password {% endblock %}

{% block body %}
    <h2> Feature Coming Soon !!! </h2>

    <a href="{{ path('admin_login') }}">Login</a>
{% endblock %}
